<nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0" >
    <div class="container">
    
      <div class="collapse navbar-collapse" id="navbarExample01">
        <!-- <div class="logo">
            <img src="./assets/images/Logo-Gold-Mix-CLong.png" alt="logo" >
        </div>  -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link px-3" routerLink="/">HOME</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link px-3" routerLink="/disease/1">AYURVEDA</a>
            <!-- <app-ayurved></app-ayurved> -->
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" routerLink="/offerings">OFFERING'S</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" routerLink="/offerings">GOURNAL</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link px-3" routerLink="/about-us">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" routerLink="/contact-us">CONTACT US</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
