<nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0" >
    <div class="container">
    
      <div class="collapse navbar-collapse" id="navbarExample01">
        <!-- <div class="logo">
            <img src="./assets/images/Logo-Gold-Mix-CLong.png" alt="logo" >
        </div>  -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link px-3" routerLink="/">HOME</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link px-3" href="#!">AYURVEDA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="#!">OFFERINGs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="#!">GOURNAL</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link px-3" href="#!">CHASCA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="#!">CONNECT</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
